.footer {
  background-color: #333;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.footer-section {
  flex: 1;
  margin: 20px;
  min-width: 250px;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
  font-size: 1rem;
}

.footer-section a {
  color: #ddd;
  text-decoration: none;
}

.footer-section a:hover {
  color: #fff;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 20px;
  font-size: 0.9rem;
}

.footer-bottom p {
  margin: 0;
}
/* Стиль футера */
footer {
  padding: 20px 0; 
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-top: 40px; 
}

@media (max-width: 768px) {
  footer {
      margin-top: 60px; 
  }
}
